<nav class='navbar navbar-expand-lg navbar-light bg-light'>
  <div class='container-fluid'>

    <LinkTo @route='index' class='navbar-brand'>Index
    </LinkTo>
    <button
      class='navbar-toggler'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarNav'
      aria-controls='navbarNav'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarNav'>
      <ul class='navbar-nav'>

        <li class='nav-item'>
          <LinkTo class='nav-link' @route='posts'>Posts
          </LinkTo>
        </li>

        <li class='nav-item'>
          <LinkTo class='nav-link' @route='users'>Users
          </LinkTo>

        </li>

        <li class='nav-item'>
          <LinkTo class='nav-link' @route='settings'>Settings
          </LinkTo>
        </li>

        <li class='nav-item'>
          <a href='#' class='nav-link'>login
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>